.settings-container {
  padding: 50px 15px;
}

.settings-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.setting-list-item {
  min-width: 25%;
  list-style-type: none;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  padding: 25px;
  margin: 0 15px 20px;
  border: 1px solid red;
  border-radius: 5px;
}

.settings-city {
  font-size: 22px;
}